.pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  margin-right: 5px;
  color: black;
  transition: 0.3s ease;
}
.hidden {
  display: none;
}
.pagination-button:hover {
  background-color: #dfdddd;
  border: 1px solid #ccc;
  color: black;
}
.active {
  color: white;
  background-color: crimson;
}
