
.pagination-box{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
}
.pagination-button a{
    margin-right: 10px;
    padding: 10px 15px;
    color: black;
    border: 1px solid #a9a8a8;
}
.buttons{
    display: flex;
    align-items: center;
    margin-right: 20px;
}