* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.product-card {
  width: 300px;
  border: 1px solid #cdcccc;
  padding: 30px 20px;
}
.product-card .product-image {
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
}
.product-card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card .product-info {
  text-align: center;
}
.product-info .category {
  color: crimson;
}
.product-info .product-name {
  font-size: 20px;
  font-weight: bold;
}
.product-info .description {
  margin: 10px 0;
  color: #979797;
  font-size: 14px;
}
.product-info .stock {
  margin: 5px 0;
  text-align: left;
}
.product-info .product-price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-info .product-price .new-price {
  font-size: 20px;
  font-weight: bold;
  color: crimson;
  margin-right: 10px;
}
.product-info .rating .stars {
  position: relative;
  margin-bottom: 20px;
}
.product-info .rating .stars::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 80px;
  height: 1.5px;
  background-color: #d8d5d5;
}
.product-info .rating .stars::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 80px;
  height: 1.5px;
  background-color: #d8d5d5;
}
.product-info .rating .stars i {
  color: crimson;
}
.product-info .rating .stars i:last-child {
  color: #ddd;
}
.product-info .actions button i {
  color: #434242;
  transition: 0.3s;
}
.product-info .actions button {
  border: none;
}
.product-info .actions button:hover i {
  color: crimson;
}
.product-info .add-to-cart .add-cart-button {
  width: 200px;
  margin-top: 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  color: white;
  background-color: crimson;
  outline: none;
  transition: 0.5s;
}
.product-info .add-to-cart .add-cart-button:hover {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.product-carts {
  min-height: 500px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.pagination-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.loader-box {
  margin-top: 200px;
  margin-left: 400px;
}
.loader-box .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-box .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid crimson;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
