.pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-button {
  margin-right: 5px;
  padding: 10px 15px;
  color: black;
  border: 1px solid #a9a8a8;
}
.active {
  color: white;
  background-color: crimson;
}
