.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111010;
  border-bottom: 3px solid crimson;
}
.header-bar .logo a p {
  margin-left: 80px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.header-bar .logo a p span {
  font-size: 80px;
  color: crimson;
}
